.Badge-root {
  display: inline-block;
  position: relative;
  top: -2px;
  height: 16px;
  line-height: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  text-transform: uppercase;
}

.Badge-spacingLeft {
  margin-left: 8px;
}
