$scale: 0.5;

.MenuButton {
  position: fixed;
  right: 25px;
  width: 48px;
  height: calc(48px * (96 / 152));
  transition: margin-top 0.2s, width 0.2s, height 0.2s;

  .MenuButton-line {
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(192, 192, 192);
    left: 0px;
    transition: left 0.2s, top 0.2s, width 0.2s, border-radius 0.2s,
      background-color 0.2s;

    &_top {
      top: 0px;
    }

    &_middle {
      top: calc((100% - 6px) / 2);
    }

    &_bottom {
      top: calc(100% - 6px);
    }
  }

  .MenuButton-background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:not(:disabled):hover {
    width: 48px;
    height: 48px;
    margin-top: calc((-48px + (48px * (96 / 152))) / 2);
    cursor: pointer;

    .MenuButton-background {
      opacity: 1;
    }

    .MenuButton-line {
      border-radius: 0px;
      background-color: white;
      left: calc((100% - (3 * 6px)) / 4);
      width: calc(100% - (2 * ((100% - (3 * 6px)) / 4)));

      &_top {
        top: calc((100% - (3 * 6px)) / 4);
      }

      &_middle {
        top: calc(2 * ((100% - (3 * 6px)) / 4) + 6px);
      }

      &_bottom {
        top: calc(3 * ((100% - (3 * 6px)) / 4) + (2 * 6px));
      }
    }
  }
}
