.ThreeContainer {
  position: relative;

  &-inset {
    overflow: hidden;
  }

  > .ThreeContainer-domChildren {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}

.Three {
  > div > canvas {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:not(.Three-pointerEvents) {
    pointer-events: none;
  }
}

#three-background {
  z-index: 0;
}

#three-foreground {
  z-index: 100;
  pointer-events: none;
}
