.FadeTransition {
  &-enter {
    opacity: 0;
    transition: opacity 0.4s;
    transition-delay: 0.4s;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    opacity: 1;
    transition: opacity 0.4s;

    &-active {
      opacity: 0;
    }
  }
}
