.Typealong-valueContainer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  transition: max-width 0.4s;
  vertical-align: top;

  &_shrinking {
    max-width: 0px;
  }
}

.Typealong-value {
  white-space: pre;
  transition: color 0.1s;

  > span {
    position: relative;
  }

  .Typealong-value-selectionBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s;
  }

  &_selecting {
    .Typealong-value-selectionBackground {
      opacity: 1;
    }
  }
}
