.AssetPreview-root {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.AssetPreview-content {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 16px;
}

.AssetPreview-name {
  font-family: 'Monaco', sans-serif;
}
