#section-introduction {
  .Introduction-header {
    position: absolute;
    width: 100%;
    font-size: calc(10px + 2vmin);
    color: gray;
    text-align: center;
  }

  .Introduction-content {
    position: relative;
    width: 100vw;
    height: 100svh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.IntroductionTypealong {
  font-weight: 800;
  font-size: 2rem;

  .IntroductionTypealong-valueContainer {
    margin-left: -4px;
    padding-left: 4px;
  }

  .IntroductionTypealong-value {
    padding-right: 4px;
  }
}

@media screen and (max-width: 600px) {
  body {
    .IntroductionTypealong {
      font-weight: 800;
      font-size: 20px;
      margin-top: -12px;
      margin-bottom: 32px;
    }
  }
}
