.ace_editor,
.ace_gutter {
  overflow: visible !important;
}

.ace_gutter,
.ace_gutter-layer {
  contain: none !important;
}

.ace_gutter-layer {
  height: 100% !important;
}

.ace-gruvbox-dark-hard {
  background-color: rgb(56, 56, 56);
  color: rgba(235, 219, 178, 0.8);
}

.ace-gruvbox-dark-hard .ace_gutter {
  background: rgb(84, 84, 84);
  color: rgb(160, 160, 160);
}

.ace-gruvbox-dark-hard .ace_gutter-active-line {
  background-color: rgb(96, 96, 96);
}

.ace-gruvbox-dark-hard .ace_marker-layer .ace_active-line {
  background: rgb(64, 64, 48);
}

.ace-monokai {
  background-color: transparent;

  .ace_content {
    background-color: hsl(70 8% 20% / 1);
  }

  .ace_gutter {
    background: transparent;
  }
}

.ace-monokai .ace_gutter-layer {
  background: hsl(75 9% 25% / 1);
}

.ace-monokai .ace_gutter-active-line {
  background-color: hsl(0 0% 20% / 1);
}

.ace-monokai .ace_marker-layer .ace_active-line {
  background: hsl(0 0% 18% / 1);
}
