// Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400&display=swap');

:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

/* remove default print margin */
@page {
  size: 8.5in 11in;
  margin: 0 !important;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Base styles
button {
  font-family: inherit;
  color: inherit;
}

hr {
  width: 100%;
  border-color: rgb(192, 192, 192);
}

p {
  font-weight: 600;
  line-height: 2rem;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

// Selection
::selection {
  color: rgb(255, 128, 0);
  background: yellow;
}

::-moz-selection {
  color: rgb(255, 128, 0);
  background: yellow;
}

#root {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  // width: 8.5in;
  // height: 11in;
}

// Application layout
.Application {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.AlignmentContext {
  &-alignLeft {
    text-align: left;
  }

  &-alignCenter {
    text-align: center;
  }

  &-alignRight {
    text-align: right;
  }
}

.MorphTransition {
  .MuiTabs-indicator {
    transition-duration: 0s;
    transition-delay: 0s;
    opacity: 0;
  }
}

.OpacityTransition {
}

.OpacityTransition-enter {
  opacity: 0;
}

.OpacityTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.OpacityTransition-exit {
  opacity: 1;
}

.OpacityTransition-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.OpacityTransition-exit-done {
  opacity: 0;
}

.katex-display > .katex {
  text-align: left !important;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
