.Icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
}
