#section-services {
  z-index: 2;

  h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.ServicesGrid-container {
  display: flex;
  width: 100%;
}

.ServicesGrid {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  flex-grow: 1;
  width: 100%;
  max-width: 720px;

  > .ServicesGrid-side {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;

    > h2 {
      white-space: pre;
      margin-bottom: 0px;
    }
  }

  > .ServicesGrid-content {
    position: relative;
    flex-grow: 1;
    margin-top: 352px;
    padding-bottom: 98px + (2 * 16px);
    text-align: left;

    > .ServicesGrid-contentSection {
      > .ServicesGrid-contentSection-body {
        position: relative;
      }

      &-alignRight {
        text-align: right;
      }
    }
  }

  .ServicesGrid-progressArrowContainer {
    position: absolute;
  }

  .ServicesGrid-progressArrowSideRightContainer {
    left: 100%;
    transform: scale(-1, 1);
    transform-origin: top left;
  }

  // .ServicesGrid-threeContainer {
  //   position: absolute;
  //   top: 0px;
  //   height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   &-alignRight {
  //     right: 0px;

  //     > .ThreeContainer {
  //       position: absolute;
  //       right: 0px;
  //     }
  //   }

  //   &-fullWidth {
  //     width: 100%;
  //   }
  // }
}

// @media only screen and (max-width: 600px) {
//   .ServicesGrid {
//     > .ServicesGrid-side {
//       width: 48px;
//     }
//   }
// }
