$calendly-margin-top: 66px;

#embed-root .calendly-overlay {
  background-color: transparent;

  .calendly-popup {
    transform: none;
    left: 0px;
    width: 100%;
    min-width: auto;
    max-width: none;
    top: 0px;
    height: 100%;
    max-height: none;
  }

  .calendly-popup-close {
    background-size: 16px;
    background-position: center center;
    border-radius: 50%;
    z-index: 9990;
  }

  @media screen and (min-width: 1250px) {
    .calendly-popup-close {
      width: 52px;
      height: 52px;
      top: 16px;
      right: 24px;
    }
  }

  @media screen and (max-width: 1250px) {
    .calendly-popup-close {
      width: 43px;
      height: 43px;
    }
  }

  @media screen and (max-width: 1250px) {
    .calendly-popup-close {
      top: calc(($calendly-margin-top - 43px) / 2);
      right: 17px;
    }
  }

  @media screen and (max-width: 650px) {
    .calendly-popup {
      height: calc(100% - $calendly-margin-top);
      margin-top: $calendly-margin-top;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      overflow: hidden;
    }
  }
}

[data-mui-color-scheme='light'] {
  #embed-root .calendly-overlay .calendly-popup-close {
    background-color: rgba(64, 64, 64, 0.75);
  }
}

[data-mui-color-scheme='dark'] {
  #embed-root .calendly-overlay .calendly-popup-close {
    background-color: rgba(192, 192, 192, 0.625);
  }
}
