.ImageLogoOverlay-container {
  background-size: cover;
  padding-top: 100%;

  &,
  > .ImageLogoOverlay-logo {
    background-position: center center;
    background-repeat: no-repeat;
  }

  > .ImageLogoOverlay-logo {
    position: absolute;
    left: 8px;
    top: 8px;
    background-size: contain;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  }
}
