.Section-root {
  position: relative;
  width: 100%;

  > .Section-threeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  > .Section-contentContainer {
    position: relative;
    height: 100%;
  }
}
