$chip-size: 28px;

.Chip {
  position: relative;
  // top: (32px - $chip-size) / 2;
  display: inline-block;
  vertical-align: top;
  color: white;
  height: $chip-size;
  line-height: $chip-size;
  font-weight: 500;

  .MuiSvgIcon-root {
    font-size: 1rem;
  }
}
