.TransdimensionalButton {
  position: relative;
  padding: 16px;
  color: rgb(64, 64, 64);
  font-weight: 700;

  &,
  &:hover,
  &:active,
  &:focus {
    border: 0px;
    outline: 0px;
    background: #ededed;
  }
}
