.Breadcrumbs-root {
  position: relative;

  &-pageHeader {
    .Breadcrumbs-separator {
      top: 1px;
      width: 10px;
      height: 10px;
      border-top: 2.5px solid;
      border-right: 2.5px solid;
    }
  }

  &-chip {
    .Breadcrumbs-separator {
      top: 0px;
      width: 7px;
      height: 7px;
      border-top: 2px solid;
      border-right: 2px solid;
    }
  }

  &-light {
    .Breadcrumbs-separator {
      border-color: rgb(160, 160, 160);
    }
  }

  &-dark {
    .Breadcrumbs-separator {
      border-color: rgb(160, 160, 160);
    }
  }

  > ol.MuiBreadcrumbs-ol {
    flex-wrap: nowrap;
    white-space: pre;

    > li:not(.MuiBreadcrumbs-li):not(.MuiBreadcrumbs-separator) > button {
      height: 20px;
      background-color: rgb(160, 160, 160);
      color: white;
    }
  }
}

.Breadcrumbs-separator {
  position: relative;
  margin-left: 0px;
  margin-right: 3px;
  border-top-right-radius: 3px;
  transform: rotate(45deg);
}
